/* Global Styles */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
 margin:0;
 padding:0;
 border:0;
 outline:0;
 font-size:100%;
 vertical-align:baseline;
 background:transparent;
}

body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    list-style-type: none;
}

h1 {
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: 500;
    margin-top: 50px;
}
h2 {
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: 500;
    margin-top: 50px;
}

/* Hero */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    position: relative;
    top: 0; left: 0;
    height: 60vh;
    width: 100%;
    z-index: -1;
}

.hero h1, .hero h2 {
    margin: 20px 0px;
}

.image-container {
    position: absolute;
    top: 0; left: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    z-index: -1;
}

.hero-overlay {
    position: absolute;
    overflow: hidden;
    z-index: -1;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: #287ddf;
    opacity: .5;
    z-index: -1;
}

.hero-image {
    position: relative;
    width: 100%;
    height: 100%;
    background: url('../images/hero-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -2;
}

h1, h2 {
    color: whitesmoke;
}

h2 {
    font-size: 20px;
    font-weight: 300;
    margin-top: 50px;
}

.corner-triangle {
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 0; right: 0;
    background: whitesmoke;
    opacity: .25;
    backdrop-filter: blur(50px);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

/* Media Query handles background change -- Allows for large image on desktop and 'extended' image for mobile */

@media only screen and (max-width: 767px) {
    .hero-image {
        position: relative;
        width: 100%;
        height: 100%;
        background: url('../images/hero-extended.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: -2;
    }
}

@media only screen and (min-width: 768px) {

    .hero {
        justify-content: flex-start;
        height: 50vh;
    }

    h1 {
        font-size: 30px;
    }
    
    h2 {
        font-size: 20px;
    }

    .hero-text {
        max-width: 50%;
        margin-left: 35px;
        padding: 25px;
    }

    .hero-image {
        background-position: 65% -60px;
        transform: scale(1.5);
    }


}

@media only screen and (min-width: 1024px) {

    .hero {
        height: 60vh;
    }

    .hero-image {
        transform: scale(1.2);
        background-position: -20px -95px;
    }

    .hero-text {
        padding: 60px;
    }

    .hero h1 {
        font-size: 35px;
    }

    .hero h2 {
        font-size: 25px;
        font-weight: 300;
        margin-top: 50px;
        margin-bottom: 30px;
    }
}

@media only screen and (min-width: 1440px) {

    .hero {
        height: 75vh
    }

    .hero h1 {
        font-size: 40px;
    }

    .hero h2 {
        font-size: 30px;
        margin-top: 50px;
    }

    .hero-image {
        transform: scale(1.25);
        background-position: -25px -150px;
    }

    .hero-text {
        margin-left: 95px;
        padding: 0 125px;
    }
}

@media only screen and (min-width: 1720px) {
    .hero {
       height: 80vh; 
    }

    .hero-text {
        margin-left: 175px;
        width: 45%;
    }

    .hero h1 {
        font-size: 50px;
    }

    .hero h2 {
        font-size: 35px;
    }

    .hero-image {
        transform: scale(1.1);
        background-position: -30px -215px;
    }
}


/* LANDSCAPE ORIENTATIONS */

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

    .hero {
        height: 100vh;
        justify-content: flex-start;
    }

    .hero-text {
        width: 50%;
    }

    .hero-image {
        background-position-y: -500px;
    }

}


@media only screen 
    and (min-device-width: 425px)
    and (max-device-width: 904px) 
    and (orientation: landscape) {

        .hero {
            height: 100vh
        }

}

/* */