.services-token {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

.services-token p {
    color: #2a2828;
}


.divider {
    width: 20px;
    height: 2px;
    background: whitesmoke;
}

.token {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    background: white;
    border: solid 2px whitesmoke;
    border-radius: 100%;
    filter: drop-shadow(0px 0px 5px #f5f5f5);
    font-size: 30px;
    color: #EA2B1F;
}

#token-2 {
    flex-direction: row-reverse;
}

@media only screen and (min-width: 425px) {
    .services-token {
        padding: 0 65px;
    }
}

@media only screen and (min-width: 768px) {
    .services-token {
        flex-direction: column;
        padding: 0;
    }

    #token-2 {
        flex-direction: column-reverse;
    }

}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

    .services-token {
        padding: 0 85px;
    }
  
}

@media only screen 
    and (min-device-width: 425px)
    and (max-device-width: 904px) 
    and (orientation: landscape) {
        
    }