.services-token {
    border: solid 1px whitesmoke;
    border-radius: 5px;
    /* height: 70%; */
    width: 70%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: #726C6C;
    background: white;
    filter: drop-shadow(0px 4px 4px whitesmoke);
    padding: 50px 15px;
    margin: 15px auto;
}

.token {
    font-size: 30px;
}

@media only screen and (min-width: 425px) {
    .services-token {
        width: 65%;
        padding: 55px 15px;
    }
}

@media only screen and (min-width: 768px) {
    .services-token {
        /* height: 75%; */
        width: 30%;
    }
}

@media only screen and (min-width: 1024px) {
    .services-token {
        width: 28%;
    }
}

@media only screen and (min-width: 1440px) {
    .services-token {
        width: 25%;
    }
}

@media only screen and (min-width: 1720px) {
    .services-token {
        width: 30%;
        padding: 65px 15px;
    }
}