/* DESKTOP SPLASH DISPLAY */

.services-splash-desktop {
    display: none;
}

/*  */

.services-splash {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 50px 30px;
}

.services-path {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background: url('../../images/dashed-line-mobile.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 90vh;
    margin: 15px 0;
}

.services-splash h1, .services-splash h2 {
    color: #2A2828;
    width: 78%;
    margin: 0 auto;
}

.services-splash h1 {
    font-size: 25px;
}

.services-splash h2 {
    font-size: 20px;
    width: 78%;
    margin-top: 15px; 
}

.services-title {
    margin-left: 15px;
}

@media only screen and (min-width: 425px) {
    .services-splash h1, .services-splash h2 {
        width: 70%;
        margin-left: 60px;
    }
}

/* ALTERNATIVE SPLASH DISPLAY */

@media only screen and (min-width: 768px) {
    .services-splash {
        display: none;
    }

    .services-splash-desktop {
        display: flex;
        padding: 75px 20px;
    }

    .services-title-desktop {
        width: 45%;
        margin-left: 50px;
    }

    .services-title-desktop h1, .services-title-desktop h2 {
        color: #2A2828;
    } 

    .services-title-desktop h1 {
        font-size: 25px;
        margin: 0;
    }

    .services-title-desktop h2 {
        margin: 25px 0 5px 0;
        font-size: 18px;
    }

    .services-path-desktop {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

}

@media only screen and (min-width: 1024px) {
    .services-path {
        order: 1;
        flex-direction: row;
        background: url('../../images/dashed-line.png');
        background-repeat: no-repeat;
        background-size: contain;
        width: 50%;
    }

    .services-splash {
        flex-direction: row;
    }

    .services-splash h1, .services-splash h2 {
        order: 3;
    }

    .services-splash button {
        order: 2;
    }
}

/* LANDSCAPE ORIENTATIONS */

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

    .services-splash {
        padding: 50px 150px;
    }

    .services-path {
        height: 160vh;
    }

}

/*  */


