.services-splash-dekstop {
    display: none;
}

.services-splash-mobile {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.services-title {
    padding: 25px 0;
    width: 90%;
    margin: 0px auto;
    text-align: center;
}

.services-title h1 {
    margin: 0;
    font-size: 23px;
    color: #2a2828;
}

.services-title h2 {
    color: #2a2828;
    margin-top: 15px;
}

.services-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

@media only screen and (min-width: 425px) {
    .services-title{
        width: 75%;
    }
        
}

@media only screen and (min-width: 768px) {

    .services-splash-mobile {
        display: none;
    }

    .services-splash-dekstop {
        display: flex;
        justify-content: space-evenly;
        padding: 15px;
    }

    .services-items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: stretch;
        width: 65%;
    }

    .services-title {
        width: 29%;
        margin: 0;
        margin-left: auto;
        text-align: left;
    }

    .services-title h1 {
        font-size: 23px;
    }

    .services-title h2 {
        font-size: 18px;
        margin-bottom: 15px;
    }
}

@media only screen and (min-width: 1024px) {

    .services-items {
        width: 70%;
        justify-content: space-between;

    }

    .services-splash-dekstop {
        padding: 25px;
    }

    .services-title {
        width: 22%;
        margin-left: 35px;
    }

}

@media only screen and (min-width: 1440px) {
    
    .services-splash-dekstop {
        padding: 50px;
    }
    
    .services-title h1 {
        font-size: 28px;
    }

    .services-title h2 {
        font-size: 20px;
    }
}

@media only screen and (min-width: 1720px) {
    .services-splash-dekstop {
        padding: 50px 100px;
        justify-content: center;
    }

    .services-title {
       width: 20%;
       padding: 20px 0;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
    }

    .services-items {
       width: 50%;
       margin-right: 15px;
    }

    .services-title h1 {
        font-size: 35px;
    }

    .services-title h2 {
        font-size: 23px;
        margin: 0;
    }
}

@media only screen and (min-width: 1800px) {
    .services-title {
        width: 15%;
    }
}


/* LANDSCAPE ORIENTATIONS */

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 



}

/*  */


